NEXT_PUBLIC_SUPABASE_URL=https://hicqidahzeslzkbikvez.supabase.co
# Replace this with the full Publishable API Key from your Supabase dashboard
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_VJQmqpXug6S-En0TUCBgBw_HnP5_YOUR_FULL_KEY_HERE
